@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --primary-color: #f8f8f8;
}

.notification-box {
  position: fixed;
  bottom: 20px;
  right: 2%;
  transform: translateX(-50%, 0);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
}

/* .canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 600px;
  height: 90vw;
  max-height: 600px;
  position: relative;
}

canvas {
  top: 10%;
  position: absolute;
  border: #333 1px solid;
} */