@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pacifico&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --primary-color: #f8f8f8;

  --font-one: 'JetBrains Mono', monospace;
  --font-two: 'Pacifico', cursive;
  --font-three: 'Space Grotesk', sans-serif;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: red;
  backdrop-filter: blur(5px);
  width: fit-content;
  border-radius: 10px;
  font-family: var(--font-two);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/doodle-small.png');
  background-size: 200px;
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: var(--font-one);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
  backdrop-filter: blur(1px);
  width: 100vw;
  color: #fff;
  /* position: fixed; */
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 1.2rem;
}

nav ul li {
  margin: 0 7px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

nav ul li button {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: transform 0.3s;
}

nav ul li button:hover {
  transform: translate(0, -3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

nav ul li button img {
  width: 20px;
  height: 20px;
}

nav ul li button p {
  margin: 0;
}

nav .logo {
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo img {
  width: 50px;
  height: 50px;
}

nav .logo h1 {
  padding: 0.2rem;
  margin: 0;
  background: linear-gradient(to right, #f32170,
      #ff6b08, #cf23cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.draw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.draw h1 {
  font-size: 2.6rem;
  margin: 0;
  letter-spacing: 5px;
}

.notification-box {
  position: fixed;
  bottom: 20px;
  right: 2%;
  transform: translateX(-50%, 0);
  background-color: #000;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  animation: up-down 1s infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.palette {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 500px;
  height: 90vw;
  max-height: 500px;
  position: relative;
  margin: 0 auto;
}

.canvas-container canvas {
  width: 100%;
  height: 100%;
  border: #333 2px solid;
  background-color: #fff;
}

.canvas-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  padding: 6px 10px;
  border-radius: 10px;
  color: #fff;
  background-color: #000;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  width: 100vw;
  height: fit-content;
  margin: 0;
  text-align: center;
  margin-top: 1.2rem;
  font-family: var(--font-three);
}

footer p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #555555;
  backdrop-filter: blur(1px);
}

/* Mobile styles */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    border: 1px solid #444;
    padding: 10px;
  }

  nav ul.show {
    display: flex;
  }

  nav .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  nav .menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }
}