@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pacifico&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --primary-color: #f8f8f8;

  --font-one: 'JetBrains Mono', monospace;
  --font-two: 'Pacifico', cursive;
  --font-three: 'Space Grotesk', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: red;
  backdrop-filter: blur(5px);
  width: fit-content;
  border-radius: 10px;
  font-family: var(--font-two);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/doodle-small.png');
  background-size: 200px;
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: var(--font-one);
}

.draw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.draw h1 {
  font-size: 2.6rem;
  margin-bottom: 0;
  letter-spacing: 5px;
}

.draw p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.notification-box {
  position: fixed;
  bottom: 20px;
  right: 2%;
  transform: translateX(-50%, 0);
  background-color: #000;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  animation: up-down 1s infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.palette {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 500px;
  height: 90vw;
  max-height: 500px;
  position: relative;
  margin: 0 auto;
}

.canvas-container canvas {
  width: 100%;
  height: 100%;
  border: #333 2px solid;
  background-color: #fff;
}

.canvas-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  padding: 6px 10px;
  border-radius: 10px;
  color: #fff;
  background-color: #000;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}